Repository bacalhau-project/bacalhau, pull requests merged in 2023-01, with the labels that each got.

#1670 Bump prod version from 0.3.15 to 0.3.16 - and increase disks 500GB -> 1TB
  ops/terraform/production.tfvars
Labels: ops

#1662 1149 centralized logging loki
  ops/README.md
  ops/terraform/main.tf
  ops/terraform/production.tfvars
  ops/terraform/remote_files/configs/bacalhau-daemon.service
  ops/terraform/remote_files/configs/promtail.service
  ops/terraform/remote_files/scripts/install-node.sh
  ops/terraform/staging.tfvars
  ops/terraform/variables.tf
Labels: enhancement, ops

#1696 Fix typo in Loki/promtail config file
  ops/terraform/remote_files/scripts/install-node.sh
Labels: bug, ops

#1704 [circleci] Build swagger reference - this is an automatic commit [skip ci]
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
Labels: schema

#1724 Fix flaky TestDownloaderSuite tests
  pkg/ipfs/downloader_test.go
  pkg/ipfs/node.go
Labels: testing, flake

#1679 Allow HTTP job networking using an allowlist
  ops/terraform/main.tf
  ops/terraform/remote_files/scripts/apply-http-allowlist.sh
  ops/terraform/remote_files/scripts/http-domain-allowlist.txt
  ops/terraform/remote_files/scripts/install-node.sh
  ops/terraform/remote_files/scripts/start-bacalhau.sh
  pkg/compute/bidstrategy/external_exec_strategy.go
  pkg/compute/bidstrategy/networking_allowlist_test.go
Labels: enhancement

#1738 [circleci] Build swagger reference - this is an automatic commit [skip ci]
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
Labels: schema

#1739 [circleci] Build jsonschema - this is an automatic commit [skip ci]
  schema.bacalhau.org/index.md
  schema.bacalhau.org/jsonschema/v0.3.17.json
Labels: schema

#1763 Add text feedback when user doesnt specify an IMAGE tag/digest [new]
  cmd/bacalhau/docker_run.go
  cmd/bacalhau/utils.go
  pkg/job/validate.go
Labels: UX

#1777 [circleci] Build jsonschema - this is an automatic commit [skip ci]
  schema.bacalhau.org/index.md
  schema.bacalhau.org/jsonschema/v0.3.18.json
Labels: schema

#1784 [circleci] Build jsonschema - this is an automatic commit [skip ci]
  schema.bacalhau.org/jsonschema/v0.3.18.json
Labels: schema
